@page
@model IndexModel
@{
    ViewData["Title"] = "Zoo ya";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>รายขายสัตว์เพื่อคนรักสัตว์</p>
    <img src="images\images.jpg"/>
</div>
